/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.font-ascent {
    font-family: "Playwrite VN", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.font-primary {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

html, body { height: 100%; }
body { margin: 0; @extend .font-primary; }
